<div>
  <h1 class="title">碧綠知音 AI × ESG 量化平台</h1>
  <p class="intro">
    Committed to Accelerating Green Finance and Inclusive Finance
  </p>
  <div class="button">
    <button class="left">Start Now!</button>
    <button class="right">Send a Demo</button>
  </div>
  <hr />
  <div>
    <h1>最懂你的需要</h1>
    <p>
      碧綠知音提供最專業的ESG量化評分，讓永續不再是抽象的概念。<br />我們的AI模型能夠根據您的需求，提供最適合的ESG投資組合。
    </p>
    <div>
      <div class="fade-in-on-scroll scroll-left">
        <img src="../../../../assets/ESGShow03.png" alt="" width="350px" #scrollImg/>
        <h3>量化儀表板</h3>
      </div>
      <div class="fade-in-on-scroll scroll-right">
        <img src="../../../../assets/ESGShow04.png" alt="" width="350px" #scrollImg/>
        <h3>永續GPT</h3>
      </div>
    </div>
  </div>
  <hr />
</div>
